/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    /*margin-bottom: 40px;*/
}
.p-footer {
    position: absolute;
    /*position: fixed;*/
    bottom: 0;
    left: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    font-weight: 200;
    box-shadow: rgba(0, 0, 0, 0.196078) 0 2px 10px;
}

.footer-container {
    width: 95%;
    margin: 0 auto;
}

.p-footer a {
    color: #EB7350;
}

.title {
    font-weight: 100;
    color: #222AA5;
    font-family: serif;
}

.foot {
    width: 100%;
}

.pad-left {
    padding-left: 10px;
}

.table-wrapper {
    margin-bottom: 40px;
}